<ul class="glide__slides">
    {{#each artProjectsImages as | artProjectsImage i|}}
        <li class="glide__slide
                    art-project__type--{{ artProjectType }}">
            <img class="slide__image" src=".{{ artProjectImagePath }}">
{{!--             <h2 class="slide__description">
                
                <span class="slide__tag tag--{{ artProjectType }}"></span>
            </h2> --}}
            <h2 class="slide__title">{{ artProjectTitle }}</h2>

            
            {{!-- <div class="slide__ tag tag--{{ artProjectType }}"></div> --}}

            {{!-- <p class="">{{ artProjectDescription }}</p> --}}
            
        </li>
    {{/each}}
</ul>
