<ul class="glide__slides">
    {{#each artProjectsImages as | artProjectsImage i|}}
        <li class="glide__slide
                    art-project__type--{{ artProjectType }}">
            {{!-- <img class="slide__image js-slide__image" src=".{{ artProjectImagePath }}"> --}}
{{!--             <h2 class="slide__description">

                <span class="slide__tag tag--{{ artProjectType }}"></span>
            </h2> --}}
            <span>0 {{ artProjectTitle }}</span>
       {{!--      <a href="#" class="slide__title js-slide__title">
                {{#ifEquals artProjectType "1"}}
                    <i class="slide__title-icon
                                slide__title-icon--circle
                                material-icons
                                material__icon--circle">fiber_manual_record</i>
                {{else}}
                    <i class="slide__title-icon
                            slide__title-icon--square
                            material-icons
                            material__icon--square">stop</i>
                {{/ifEquals}}
                {{ artProjectTitle }}
            </a> --}}

            {{!-- <div class="slide__ tag tag--{{ artProjectType }}"></div> --}}

            {{!-- <p class="">{{ artProjectDescription }}</p> --}}

        </li>
    {{/each}}
</ul>
